@use '../../styles/styles.scss' as *;

.features {
    padding: 96px max(32px, calc((100vw - $body-width) / 2));
    background-color: $grey-050;
    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        // grid-template-columns: 1fr 1fr 1fr;
        gap: 64px;
        list-style: none;
        padding: 0;
    }
    &__item {
        display: grid;
        align-items: center;
        align-content: space-between;
        &-icon {
            height: 65px;
        }
        &-title {
            height: 30px;
            font-size: $h5;
            margin: 32px 0;
        }
        &-description {
            height: 180px;
            margin: 0;
        }
    }
}
